
<head>
    <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
        data-sly-call="${clientlib.all @categories=['wknd.base']}" />
</head>
<p>hey model test</p>
<!-- Slideshow container -->
<div data-sly-use.mymodel="com.adobe.aem.guides.wknd.core.models.HelloWorldModel"> 



<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="${properties.fileReference1}" style="width:100%">
        <div class="text">Caption Text ${properties.text}</div>tex2t
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="${properties.fileReference2}" style="width:100%">
        <div class="text">Caption Two ${properties.tex2t}</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="${properties.fileReference3}" style="width:100%">
        <div class="text">Caption Three ${properties.tex3t}</div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>
<!-- <div data-sly-resource="${'title' @ resourceType='core/wcm/components/title/v3/title'}"></div>
<div data-sly-resource="${'text' @ resourceType='core/wcm/components/text/v2/text'}"></div> -->

    <p>${mymodel.customDescription}
    </p>
