
<p>hey model</p>

<div data-sly-resource="${'slider' @ resourceType='wknd/components/slider'}"></div>
        <!-- <div data-sly-use.mymodel="com.adobe.aem.guides.wknd.core.models.HelloWorldModel">
             <p>${mymodel.customDescription}
            </p>
        </div> -->
<div data-sly-resource="${'compocontent' @ resourceType='wcm/foundation/components/parsys'}" ></div>
<div data-sly-resource="${'customized_list' @ resourceType='wknd/components/customized_list'}"></div>